@CHARSET "ISO-8859-1";

.message 
{
	color: red, font-size: 14px;
}

.loss {
	background-color: #FA9078;
}

.win {
	background-color: #A0FAAA;
}

.navbar-static-top {
    min-height: 64px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 64px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

[class*='col-'] 
{
	float: left;
	min-height: 64px; 
	width: 16.66%; 
	padding: 2px;
}

#pointer{
	width:3px;
	background:#ff0;
	position:absolute;
	left:50%;
	top:0px;
	height:100%
}

#tech-slideshow {
    height: 200px;
    position: relative;
    overflow: hidden;
}
#tech-slideshow > div {
    height: 200px;
    width: 3000px;
    background: url("slide1.png.jsf?ln=images");
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    
	-moz-transition: opacity 0.5s ease-out; 
	-o-transition: opacity 0.5s ease-out; 
	-webkit-transition: opacity 0.5s ease-out; 
	-ms-transition: opacity 0.5s ease-out; 

    -webkit-animation: moveSlideshow 60s linear infinite;
    -moz-animation:    moveSlideshow 60s linear infinite;
    
}

@-webkit-keyframes moveSlideshow {
    0% { left: 0; }
    100% { left: -1684px; }
}
@-moz-keyframes moveSlideshow {
    0% { left: 0; }
    100% { left: -1684px; }
}

#case{
	display: block;
    border:1px solid transparent;
    border-radius: 4px;
    max-width: 3000px; 
    height: 200px; 
    background-image: url("slide1.png.jsf?ln=images");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: relative;
    margin:0px auto;
}

.rollHistoryList .ui-datalist-data{
   overflow:auto;
}

.rollHistoryListItem{
	display: inline;
    float : left;
    padding: 10px 10px;
}

#navigation .ui-menu-list{
	display: flex;
}

#navigation .ui-menuitem{
	display: inherit;
}

#navigation .ui-menuitem-link{
	display: inherit;
}

#navigation .ui-menuitem-text{
	display: block;
	align-self: center;
}

.ui-menuitem-active{
	color: inherit;
}

.ui-menu .ui-menuitem .ui-state-hover{
	color: inherit;
	background-color: inherit;
}

.navigation-menuitem .ui-menuitem-text {
    font-size: x-large;
}

.navigation-menuitem-selected .ui-menuitem-text {
    font-size: x-large;
    font-weight: bolder;
}
